*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #f1f1f1;
    /*rgb(194, 194, 194);*/
}


/*----------------Carrossel----------------*/
.area-carrossel{
    width: 100%;
    height: 520px;
    position:relative;
    margin-bottom: 70px;
}

.flecha-esquerda,.flecha-direita{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background:linear-gradient(to left, transparent 0%,black 200%);
    opacity: 0.5;
    transition: all 600ms ease-in-out;
    z-index: 1;
}

.flecha-direita{
    left: auto;
    right:0;
    background:linear-gradient(to right, transparent 0%,black 200%);
}

.flecha-esquerda:hover,
.flecha-direita:hover{
    opacity: 1;
}

/*Área da div onde estão as imagens*/
.carrossel{
    width: 100%;
    height: 520px;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    padding-top: 10px;
}

/*Escondendo Scrollbar*/
/* Hide scrollbar for Chrome, Safari and Opera */
.carrossel::-webkit-scrollbar {
    display: none;
}

.carrossel{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/*Caracteristicas imagens*/
.item{
    width: 800px;
    height: 500px;
    /*Não deixa a imagem ser diminuida automaticamente*/
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

/*Item selecionado*/
.current-item{
    opacity: 1;
    border: 5px solid #069e6e;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}


/*----------------Conteudo----------------*/
.conteudo{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family:'Trebuchet MS',   sans-serif;
}

/*----------------Texto da Home Page----------------*/
#homepage{
    display: flex;
    height: 300px;
    width: 1200px;
    border-radius: 15px;
    margin-top:30px ;
    margin-bottom: 70px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#homepage .txt{
    width: 100%;
}

#homepage .txt h1{
    margin-bottom: 50px ;
}

#homepage .txt p{
    margin-bottom: 20px ;
}

#img-homepage{
    display: flex;
}

/*----------------Área de Avaliação----------------*/
.avaliacoes{
    display: flex;
    gap: 80px;
}


.avaliacao{
    display: inline-block;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.avaliacao h2{
    margin-bottom: 30px ;
}


/*----------------Formulario produtos----------------*/
.b-area{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
    font-family:'Trebuchet MS',   sans-serif;
    gap: 30px;
}

.b-area .d-form{
    width: 800px;
    height: 800px;
    margin: 50px 0 0 0 ;
    padding: 50px 0 0 50px;
    background-color: #fff;
    border-radius: 20px;
    /*Sombreamento de Div*/
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.form-pedido{
    display: flex;
    flex-direction: column;
}

.form-pedido *{
    margin-bottom: 15px;
}

.form-pedido h2{
    margin-bottom: 0px;
}

.dados{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
}

.form-pedido textarea{
    height: 150px;
    width: 90%;
    border-radius: 20px;
    padding: 10px;

}

.form-pedido .dados-pequenos{
    width: 30%;
    height: 50px;
}

/**/
.accordion{
    padding: 0 100px 0 100px;
    align-items: center;
}

/*---------------- Login ----------------*/

.form-login {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    width: 800px;
    height: 800px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 50px 50px 0 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-login-header {
    padding-bottom: 50px;
    color: #000000;
}

.form-login-conteudo {
    margin-top: 20px;
}

#password, #usuario {
    padding: 10px;
    margin: 5px 0 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
}

.submit_login {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100px;
}

.recuperar_senha {
    color: #000000;
    text-decoration: none;
}

.recuperar_senha:hover {
    color: #000000;
    text-decoration: underline;
}

/* @media screen and (max-width: 700px) {
    body {
        background-color: #000000;
    }
} */

/*-------------Pagina de controle Prestador----------------*/
.area-div-tabela{
    display: inline-flex;
    position: relative;
    width:100%;
    justify-content: center;
}

.infos-tabela{
    width: 800px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 50px 50px 0 50px;
}

.infos-tabela ul li{
    /*Tirando formatação da lista*/
    list-style: none;
}

.infos-tabela h2{
    margin-bottom: 20px;
}

.tabela-area-logada {
    border: solid #f1f1f1;
    width: 100%;
    height: 150px;
    overflow-y: hidden ;
    overflow-y: scroll;
   
}


.tabela-area-logada table{
    width: 100%;
}



/*-------------Pagina de crição de conta cliente----------------*/
.box{
    width: 90%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 3px;
    padding: 1em;
}


legend{
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    width: 80%;
    letter-spacing: 2px;
    height: 40px;
}
.inputsex{
    margin: 20px 0 0 0;
    padding: 0;
}
.labelInput{
    background: none;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right rgb(0, 80, 172), rgb(80, 19, 195));
}

#invalid_email, #invalid_name{
    display: none;
}

@media screen and (max-width: 768px) {
    .box {
    width: 90%;
    height: auto;
    padding: 30px;
    }
    }
    
    /* Para telas maiores que 768px */
    @media screen and (min-width: 769px) {
    .box {
    width: 70%;
    height: auto;
    padding: 50px;
    }
    }